VS/CleverV0310/CleverUI/CleverUI/daabProvider.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="daabProviders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="daabProvider">
          <xs:complexType>
            <xs:attribute name="alias" type="xs:string" use="required" />
            <xs:attribute name="assembly" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>